@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>The BIT College systems allows for entry and maintenance of College data.</p>
    <p>This project was created by Dharmi Patel as part of the Programming 3 course at RRC's BIT Program.</p>
</main>